@import "bourbon"
@import "helpers/fonts"
@import "helpers/vars"

// KEEP CALM AND CODE (DELETE ALL CODE)
body
	background-color: #888888
div
	text-align: center
	img
		text-align: center
		width: 100px
p
	font-family: "opensans", sans-serif
	text-align: center
	font-size: em(35)
	margin: 0
	padding: 0
.ease
	font-size: em(25)
// KEEP CALM AND CODE (DELETE ALL CODE)


// STYLING HERE