@import "bourbon"
@import "helpers/fonts"
@import "helpers/vars"

// STYLING HERE
body
  overflow-x: hidden
a
  text-decoration: none
  color: #000
  &:hover
    color: $main-color
    text-decoration: none
    cursor: pointer
input, textarea, button
    outline: none

//кнопка вверх
#up-button
  bottom: 100px
  cursor: pointer
  display: none
  position: fixed
  right: 40px
  img
    width: 40px
    height: 40px
//хэдер
header
  font-family: "opensansregular", sans-serif
  font-size: em(14px)
  //навигация топ
  nav#top
    padding-bottom: 10px
    //колонка лого
    div.col-lg-2
      border-bottom: none
      .logo
        margin-top: 10px
        text-align: center
        img
          width: 65%
    //топ ссылки
    div.col-lg-5.b
      border-bottom: 1px solid $main-color
      margin-top: 20px
      #top-links
        li
          padding-right: 30px
    // Валюта
    div.col-lg-2.b
      border-bottom: 1px solid $main-color
      margin-top: 20px
      #currency
        ul.list-inline
          li
            margin-right: 5px
            a
              &:after
                margin-left: 8px
                content: ''
                border-top: 1px solid transparent
                border-right: 1px solid transparent
                border-bottom: 1px solid transparent
                border-left: 1px solid #444444
                position: absolute
                top: 4px
                width: 1px
                height: 10px
            &:last-child
              a
                &:after
                  border: none
    //языки
    div.col-lg-2.b
      border-bottom: 1px solid $main-color
      margin-top: 20px
      #language
        ul.list-inline
          li
            margin-right: 5px
            a
              &:after
                margin-left: 8px
                content: ''
                border-top: 1px solid transparent
                border-right: 1px solid transparent
                border-bottom: 1px solid transparent
                border-left: 1px solid #444444
                position: absolute
                top: 4px
                width: 1px
                height: 10px
            &:last-child
              a
                &:after
                  border: none
    //Логин
    div.col-lg-1.b
      border-bottom: 1px solid $main-color
      margin-top: 20px
      padding-bottom: 9px
      #login
        .icon
          padding-right: 10px
          img
            width: 17px
            height: 17px
    //номера и мэйл
    div.col-lg-3
      padding-right: 0px
      margin-top: 20px
      li
        padding-right: 20px
    //колбэк форма
    div.col-lg-1
      margin-top: 20px
      #callback-form
        img
          height: 35px
          width: 35px
        //попап форма
        .popup-form
          display: none
          padding-bottom: 25px
          top: 0
          width: 350px
          background-color: rgba(255,255,255, .85)
          z-index: 2
          position: absolute
          img
            position: absolute
          a.close_icon
            position: absolute
            right: 20px
            img
              width: 20px
              height: 20px
          h4
            margin: 30px 0
            text-align: center
            font-family: "opensansbold", sans-serif
            font-size: 18px
            color: $main-color
          form
            text-align: center
            input
              width: 250px
              background-color: transparent
              border: none
              border-bottom: 2px solid $main-color
              margin-top: 5px
              margin-bottom: 5px
              width: 250px
              &:focus
                border: none
                border-bottom: 2px solid $main-color
              @include placeholder
                color: #444
                font-family: "opensanslightitalic", sans-serif
                text-indent: 10px
            button
              margin-top: 30px
              display: inline-block
              font-family: "opensanssemibold", sans-serif
              font-size: 18px
              padding: 6px 25px
              color: #fff
              background-color: $main-color
              transition: all .3s
              border: none
              &:hover
                background-color: #fff
                transition: all .3s
                background-color: $hover-color
    //Форма поиска
    div.col-lg-5
      #search
        margin-top: 10px
        width: 100%
        span.input
        a
          img
            margin-top: 10px
            height: 35px
            width: 35px
    //Корзина
    div.col-lg-1
      margin-top: 20px
      #bascket
        text-align: center
        .full
          position: relative
          span.number
            font-family: "opensansbold", sans-serif
            font-size: 10px
            position: absolute
            color: #fff
            top: -3px
            right: 4px
          img
            width: 35px
        .empty
          display: none
          img
            width: 35px
  //Навбар самый большой :)
  nav#menu
    background-color: $main-color
    position: relative
    .collapse
      position: static
      padding-right: 0
      padding-left: 0
      .nav.navbar-nav
        position: static
        width: 100%
        li.dropdown
          position: static
          text-align: center
          width: 16.6666667%
          a
            font-family: "ProximaNovaCondensedRegular", sans-serif
            font-size: em(18px)
            padding: 15px 0
            letter-spacing: 0.001em
            color: #fff
          &:hover
            a
              color: #3385d5
              background-color: transparent
            .drop-links:after
              z-index: 2
              content: ""
              position: absolute
              top: 100%
              left: 50%
              border-top: 8px solid $main-color
              border-left: 8px solid transparent
              border-right: 8px solid transparent
              margin-left: -8px
            #content_drop
              display: block
              z-index: 1
          #content_drop
            left: 0
            display: none
            background-color: #fff
            &:after
              content: ""
              border: $main-color solid 1px
              width: 100%
              bottom: 0
              position: absolute
            position: absolute
            text-align: left
            padding: 0
            .items
              margin: 20px 0 20px 10px
              .thead
                padding: 0 0 5px 0
                a
                  font-family: "opensansbold", sans-serif
                  font-size: 12px
                  color: $hover-color
                  &:hover
                    text-decoration: underline
              ul
                li
                  a
                    color: #2c2c2c
                    font-family: "opensansregular", sans-serif
                    font-size: 12px
                    &:hover
                      text-decoration: underline
//Каруселька топ
#slideshow
  background: linear-gradient(to bottom, #fff, #b1d3f4)
  .slick-top
    text-align: center
    z-index: 0
    margin-bottom: 0
    .slick-item
      outline: none
      z-index: 0
      height: 320px
      h1
        position: absolute
        letter-spacing: 1px
        bottom: 65px
        color: $hover-color
        font-family: "opensansbold", sans-serif
        font-size: 30px
        text-transform: uppercase
      h3
        letter-spacing: 0.045em
        bottom: 30px
        color: #fff
        position: absolute
        font-size: 30px
        font-family: "opensanssemibold", sans-serif
      img
        float: right
        height: 320px

.slick-prev
  z-index: 1
  left: 265px
  width: 40px
  height: 40px
.slick-prev::before
  content: url(../img/icons/arrow_left.svg)
  color: $main-color
.slick-next
  right: 265px
  width: 40px
  height: 40px
.slick-next:before
  content: url(../img/icons/arrow_right.svg)
  color: $main-color
.slick-dots li
  margin: 0
.slick-dots
  position: absolute
  bottom: 0px
.slick-dots li button
  width: 12px
  height: 12px
  position: absolute
  border: 1px solid $main-color
  border-radius: 50%
.slick-dots li button:before
  content: ''
.slick-dots li button:hover:before
  content: ''
.slick-dots li.slick-active button:before
  content: ''
  width: 6px
  height: 6px
  background: $main-color
  opacity: 1
  border-radius: 50%
  top: 50%
  left: 50%
  margin: -3px 0 0 -3px

//контент
.content
  padding: 30px 0
  //Левая колонка
  #collumn-left
      .col-lg-3.col-md-3
        border-right: 1px solid #dddddd
        .list-group-item-heading
          padding: 0
          margin-bottom: 20px
          a
            font-family: "opensansbold", sans-serif
            font-size: 18px
            color: $hover-color
        .list-group
          li
            margin: 0
            padding: 2px 0
            border-right: 2px solid transparent
            &:hover
              border-right: 2px solid $main-color
              a.list-item
                color: $main-color
            margin: 5px 0
            a.list-item
              font-family: "opensansregular", sans-serif
              font-size: 12px
  //сам контент
  #content
    //Преймущества
    #advantages
      .desc-item
        background-color: $main-color
        padding-bottom: 10px
        text-align: center
        height: 149px
        img
          margin: 20px 0 10px 0
          width: 65px
          height: 65px
        .desc
          p
            font-family: "opensansregular", sans-serif
            font-size: 12px
            color: #fff
    //популярные категории
    #popular-categories
      padding-bottom: 50px
      .popular-head
        h3
          margin-left: 20px
          margin-top: 50px
          width: 100%
          font-size: 24px
          font-family: "opensansbold", sans-serif
          color: $main-color
      .desc-item
        margin-top: 50px
        margin-bottom: 20px
        
        border: 1px solid transparent
        &:hover
          border: 1px solid #c4c4c4
        a
          img
            width: 90%
            padding-bottom: 10px
          .desc
            text-align: center
            p
              font-family: "opensanssemibold", sans-serif
              color: $hover-color
              font-size: 12px
//Секция Колбэка
section.callback
  background-color: $main-color
  padding: 20px 0 0 0
  #callback
    position: relative
    h3
      padding-left: 15px
      text-transform: uppercase
      font-size: 18px
      font-family: "opensansbolde",sans-serif
      color: #fff
    h5
      padding-left: 15px
      font-family: "opensanssemibold", sans-serif
      font-size: 14px
      color: #fff
    //форма колбэка
    .form-callback-big
      position: relative
      form
        margin: 10px 0 45px 0
        input
          display: inline-block
          background-color: transparent
          width: 30%
          border: none
          border-bottom: 2px solid #fff
          margin-right: 30px
          padding-left: 10px
          vertical-align: bottom
          &:focus
            border: none
            border-bottom: 2px solid #fff
          @include placeholder
            color: #fff
            font-family: "opensanslightitalic", sans-serif
        button
          display: inline-block
          font-family: "opensanssemibold", sans-serif
          font-size: 18px
          padding: 8px 28px
          color: #fff
          background-color: transparent
          border: 2px solid #fff
          transition: all .3s
          vertical-align: top
          &:hover
            background-color: #fff
            color: $main-color
            transition: all .3s
    #img
      position: absolute
      right: 200px
      bottom: 0px
//Акции новинки хиты
#shares-hits-novelty
  margin: 50px 0 50px 0
  .col-lg-12.brd
    padding: 0
    margin: 0
    &:after
      width: 97%
      content: ""
      border: 1px solid $main-color
      bottom: 0
      left: 20px
      position: absolute
    .col-lg-2
      text-align: center
      h4
        text-transform: uppercase
        font-size: 18px
        color: $main-color
        border-bottom: 1px solid transparent
        &:hover
          cursor: pointer
          color: $hover-color
          &:after
            z-index: 2
            text-align: center
            content: ""
            border: $hover-color solid 1px
            width: 160px
            left: 20px
            right: -20px
            bottom: 0
            position: absolute
  .slick-bot
    margin-top: 30px
    .slick-items
      outline: none
      position: relative
      margin: 0 14px
      height: 380px
      width: 264px
      text-align: center
      border: 1px solid #cccccc
      .sticker-shares
        display: none
        margin-top: 10px
        top: 0
        text-transform: uppercase
        position: absolute
        right: 0
        background-color: #fc855a
        color: #fff
        padding: 3px 15px 3px 20px
        font-family: "opensansregular",sans-serif
        font-size: 16px
        border-radius: 20px 0 0 20px
      .sticker-hits
        display: none
        margin-top: 10px
        margin-right: 10px
        top: 0
        text-transform: uppercase
        position: absolute
        right: 0
        background-color: #fc855a
        color: #fff
        padding: 20px 14px 20px 14px
        font-family: "opensansbold",sans-serif
        font-size: 16px
        border-radius: 50%
        transform: rotate(-30deg)
      .sticker-novelty
        display: block
        margin-top: 10px
        top: 0
        text-transform: uppercase
        position: absolute
        right: 0
        background-color: #fc855a
        color: #fff
        padding: 3px 15px 3px 20px
        font-family: "opensansregular",sans-serif
        font-size: 16px
        border-radius: 20px 0 0 20px
      .img-slick
        img
          height: 250px
          width: 250px
      .desc-slick
        h5
          padding: 0 5px 15px 5px
          font-family: "opensanssemibold", sans-serif
          font-size: 14px
          color: $hover-color
        .count
          left: 10px
          bottom: 30px
          position: absolute
          display: inline-block
          float: left
          margin-left: 10px
          p
            font-size: 18px
            font-family: "opensansbold",sans-serif
            color: $hover-color
            span
              padding-left: 5px
              font-size: 12px
        a.btn-slick
          position: absolute
          bottom: 30px
          right: -9px
          font-family: "opensansbold", sans-serif
          button
            border: none
            padding: 9px 28px 9px 28px
            display: inline-block
            float: right
            background-color: $main-color
            color: #fff
            font-size: 18px
            transition: all .3s
            &:hover
              transition: all .3s
              background-color: $hover-color
            &:after
              content: ""
              position: absolute
              top: 100%
              right: 0
              border-top: 9px solid $hover-color
              border-left: 0px solid transparent
              border-right: 9px solid transparent
              margin-left: -9px
    .slick-prev
      left: -50px
    .slick-next
      right: -50px
//статьи и новости
#articles-and-news
  background-color: #e9f0f9
  padding: 50px 0
  h2
    margin-bottom: 50px
    text-align: center
    font-family: "opensansbold", sans-serif
    font-size: 24px
    color: $main-color
  .artic-news
    img
    .date
      margin-top: 5px
      text-align: right
      span
        font-family: "opensansregular", sans-serif
        font-size: 12px
        color: #444444
    .desc-news
      margin-top: 20px
      p
        font-family: "opensansregular",sans-serif
        color: #444444
        font-size: 14px
//Добро пожаловать
#wellcome
  .container
    padding: 80px 0
    h4
      text-transform: uppercase
      font-family: "opensanssemibold", sans-serif
      color: $main-color
      font-size: 18px
    p
      line-height: 1.6em
      font-family: "opensansregular", sans-serif
      color: #444444
      font-size: 12px
      a
        font-family: "opensanssemibold", sans-serif
        color: $hover-color
        text-decoration: underline
        font-size: 12px
    p.center
      font-size: 14px
//Футер
footer
  .up-footer
    padding-bottom: 20px
    background-color: $main-color
    .col-lg-2
      padding: 0
      .foo-1
        ul
          padding-left: 0
          li
            a
              color: #fff
              font-family: "opensansregular", sans-serif
              font-size: 12px
              &:hover
                text-decoration: underline
    .col-lg-2
      padding: 0 auto
      .foo-2
        ul
          text-align: left
          padding-left: 40px
          li
            a
              color: #fff
              font-family: "opensansregular", sans-serif
              font-size: 12px
              &:hover
                text-decoration: underline
    .col-lg-4.img_footer
      .img
        margin-top: 30px
        text-align: center
        img
          width: 45%
    .col-lg-2
      .foo-3
        text-align: center
    .col-lg-2
      .foo-4
        padding-left: 20px

.foo-1,.foo-2, .foo-3, .foo-4
  margin-top: 50px
  li
    color: #fff
    font-family: "opensansregular", sans-serif
    font-size: 12px
    line-height: 1.8em
    a
      color: #fff
      font-family: "opensansregular", sans-serif
      font-size: 12px
      &:hover
        text-decoration: underline
.foo-3
  ul.list-inline
    li
      position: relative
      margin-right: 5px
      a
        &:after
          margin-left: 10px
          content: ''
          border-top: 1px solid transparent
          border-right: 1px solid transparent
          border-bottom: 1px solid transparent
          border-left: 1px solid #fff
          position: absolute
          top: 5px
          width: 1px
          height: 11px
      &:last-child
        a
          &:after
            border: none

.down-footer
  background-color: $hover-color
  text-align: center
  p
    margin: 20px 0 20px 0
    color: #fff
    font-family: "opensansregular", sans-serif
    font-size: 12px
    a
      color: #FFF
      &:hover
        text-decoration: underline
//топ поиск начало
.input
  margin-left: 200px
  position: relative
  z-index: 1
  padding-left: 5px
  display: inline-block
  max-width: 200px
  width: calc(100% - 2em)
  vertical-align: top

.input__field
  position: relative
  display: block
  float: right
  width: 60%
  border: none
  border-radius: 0
  margin-bottom: 10px
  background: #f0f0f0
  color: #aaa
  font-family: "opensansitalic", sans-serif
  -webkit-appearance: none
  @include placeholder
    transition: text-indent 0.3s ease
    color: #444
    font-family: "opensanslightitalic", sans-serif
  &:focus
    @include placeholder
      transition: text-indent 0.3s ease
      text-indent: 300px
    outline: none

.input__label
  display: inline-block
  float: right
  padding: 0 1em
  width: 40%
  color: #6a7989
  font-size: 12px
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-touch-callout: none
  user-select: none

.input__label-content
  position: relative
  display: block
  padding: 1.6em 0
  width: 100%

.graphic
  position: absolute
  top: 0
  left: 0
  fill: none


.input--hoshi
  overflow: hidden

.input__field--hoshi
  margin-top: 1em
  padding: 0.85em 0.15em
  width: 100%
  background: transparent
  color: #595F6E

.input__label--hoshi
  position: absolute
  bottom: 0
  left: 0
  padding: 0 0.25em
  width: 100%
  height: calc(100% - 1em)
  text-align: left
  pointer-events: none

.input__label-content--hoshi
  position: absolute

.input__label--hoshi
  &::before
    content: ''
    padding-bottom: 4px
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: calc(100% - 10px)
    border-bottom: 1px solid #B9C1CA
  &::after
    content: ''
    padding-bottom: 4px
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: calc(100% - 10px)
    border-bottom: 1px solid #B9C1CA
    margin-top: 0px
    border-bottom: 2px solid red
    -webkit-transform: translate3d(100%, 0, 0)
    transform: translate3d(100%, 0, 0)
    -webkit-transition: -webkit-transform 0.3s
    transition: transform 0.3s

.input__label--hoshi-color-1::after
  border-color: hsl(200, 100%, 50%)

.input__field--hoshi:focus + .input__label--hoshi::after, .input--filled .input__label--hoshi::after
  -webkit-transform: translate3d(0, 0, 0)
  transform: translate3d(0, 0, 0)

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi, .input--filled .input__label-content--hoshi
  -webkit-animation: anim-1 0.3s forwards
  animation: anim-1 0.3s forwards

@-webkit-keyframes anim-1
  50%
    opacity: 0
    transform: translate3d(1em, 0, 0)

  51%
    opacity:
    transform: translate3d(-1em, -40%, 0)

  100%
    opacity: 1
    transform: translate3d(0, -40%, 0)

@keyframes anim-1
  50%
    opacity: 0
    transform: translate3d(1em, 0, 0)

  51%
    opacity: 0
    transform: translate3d(-1em, -40%, 0)

  100%
    opacity: 1
    transform: translate3d(0, -40%, 0)
//конец топ поиска
@import "helpers/kross_ff_ie"
@import "helpers/media"