include ../inc/_mixins
//Навигационный маршрут
#breakcrumb.col-lg-12.col-md-12.col-sm-12
	ol.breadcrumb
		li
			a Главная
		li
			a Оборудование для кислородной терапии
		li.active Кислородные концентраторы
