include ../inc/_mixins
//Левая колонка
#collumn-left
  .col-lg-3.col-md-3.col-sm-4
    div.list-group-item-heading
      a.item-head Тематические разделы
    ul.list-unstyled.list-group
      - var list_gr = ["Ингаляторы (небулайзеры)","Устройства для обеспечения проходимости дыхательных путей","Оборудование для кислородной терапии","Аппараты дыхательные","Медицинская мебель","Светильники и отсасыватели хирургические, медицинские","Предметы ухода за больными","Весы для взвешивания людей, динамометры,  секундомеры","Иглы хирургические","Инструмент для косметологических и парикмахерских салонов","Хирургический инструмент, шприцы, иглы иньекционные","Лампы и облучатели бактерицидные","Лотки","Оборудование для иммобилизации","Разное оборудование","Физиотерапия","Ветеринария","Кипятильники , биксы , стерилизаторы","Лабораторное оборудование","Запасные части"];
        for name in list_gr
          li
            a.list-item= name