include ../inc/_mixins
//Левая колонка по подбору параметров
#leftcolumn-category.col-lg-3.col-md-3.col-sm-4
   h3 Подбор по параметрам
   //.nstSlider(data-range_min='100', data-range_max='50000', data-cur_min='0', data-cur_max='50000')
   //   .bar
   //   .leftGrip
   //   .rightGrip
   //.leftLabel
   //.rightLabel
   p.manufacturer Производитель
   ul.list-manufacturer.list-unstyled
      li
         label
            input(class="checkbox" type="checkbox" name="checkbox-test")
            span(class="checkbox-custom")
            span(class="label") Cooper & Hunter (США)
               span (8)
      li
         label
            input(class="checkbox" type="checkbox" name="checkbox-test")
            span(class="checkbox-custom")
            span(class="label") Cooper & Hunter (США)
               span (8)
      li
         label
            input(class="checkbox" type="checkbox" name="checkbox-test")
            span(class="checkbox-custom")
            span(class="label") Air-O-Swiss (Швейцария)
               span (8)
      li
         label
            input(class="checkbox" type="checkbox" name="checkbox-test")
            span(class="checkbox-custom")
            span(class="label") Neoclima (Корея)
               span (8)
      li
         label
            input(class="checkbox" type="checkbox" name="checkbox-test")
            span(class="checkbox-custom")
            span(class="label") Ballu (Китай)
               span (8)
      li
         label
            input(class="checkbox" type="checkbox" name="checkbox-test")
            span(class="checkbox-custom")
            span(class="label") Venta (Германия)
               span (8)
      li
         label
            input(class="checkbox" type="checkbox" name="checkbox-test")
            span(class="checkbox-custom")
            span(class="label") Valore (Китай)
               span (8)
      li
         label
            input(class="checkbox" type="checkbox" name="checkbox-test")
            span(class="checkbox-custom")
            span(class="label") Wild Wind (Китай)
               span (8)
      li
         label
            input(class="checkbox" type="checkbox" name="checkbox-test")
            span(class="checkbox-custom")
            span(class="label") SmartWay (Китай)
               span (8)
      li
         label
            input(class="checkbox" type="checkbox" name="checkbox-test")
            span(class="checkbox-custom")
            span(class="label") Jay (Китай)
               span (8)