include ../inc/_mixins
//популярные категории
#popular-categories.col-lg-8.col-lg-offset-1.col-md-9.col-sm-8
 .popular-head
   h3 Популярные категории
 .col-lg-3.col-md-3.desc-item.col-sm-6
   a
     +img('1.jpg')
     .desc
       p Тонометры
 .col-lg-3.col-md-3.desc-item.col-sm-6
   a
     +img('2.jpg')
     .desc
       p Небулайзеры (Ингаляторы)
 .col-lg-3.col-md-3.desc-item.col-sm-6
   a
     +img('3.jpg')
     .desc
       p Весы
 .col-lg-3.col-md-3.desc-item.col-sm-6
   a
     +img('4.jpg')
     .desc
       p Ирригаторы и аксессуары
 .col-lg-3.col-md-3.desc-item.col-sm-6
   a
     +img('5.jpg')
     .desc
       p Бандажи и корсеты
 .col-lg-3.col-md-3.desc-item.col-sm-6
   a
     +img('6.jpg')
     .desc
       p Глюкометры и расходные материалы
 .hidden-sm.col-lg-3.col-md-3.desc-item
   a
     +img('7.jpg')
     .desc
       p Массажеры для ног и тела
 .hidden-sm.col-lg-3.col-md-3.desc-item
   a
     +img('8.jpg')
     .desc
       p Очистители воздуха