include ../inc/_mixins
#rightcolumn_content_cat.col-lg-9.col-md-9.col-sm-9.col-xs-9
  .icon-list-block.col-lg-1.col-md-1.col-sm-1.col-xs-1
    .icon-list.active
      img(src="../img/icons/cat/icon-list.png")
    .icon-block
      img(src="../img/icons/cat/icon-block.png")
  .right-column-title.col-lg-7.col-md-7.col-sm-7.col-xs-7
    h3 Кислородные концентраторы
  .sorting.col-lg-4.col-md-4.col-sm-4.col-xs-4
    p Сортировать по:
    select
      option Популярности
      option Цена
      option Новинки
  .category-content.col-lg-12.col-md-12.col-sm-12.col-xs-12
    .product-thumb-grid.col-lg-12.col-md-12.col-sm-12.col-xs-12.product-thumb-list
      .block-pro.sticker-shares
        .img-block
          img(src="../img/products/img5.png")
          .likes-star-block
            button ❤
            button
            .rating
              p
                span ★
                span ★
                span ★
                span ★
                span ★
        .title-block
          p Медицинский кислородный концентратор «Медика» JAY-1
        .desc-block
          p Переносное малогабаритное, надёжное устройство для кислородной терапии, которое удобно использовать во время путешествия всеми видами транспорта и в домашних условиях...
        .count
          .price
            p.old-price 11 500
            p.new-price.pull-bottom 12 830
              span грн
        .button-block
          .buy-buttons
            a Купить в 1 клик
            button купить
    .product-thumb-grid.col-lg-12.col-md-12.col-sm-12.col-xs-12.product-thumb-list
      .block-pro.sticker-shares
        .img-block
          img(src="../img/products/img5.png")
          .likes-star-block
            button ❤
            button
            .rating
              p
                span ★
                span ★
                span ★
                span ★
                span ★
        .title-block
          p Медицинский кислородный концентратор «Медика» JAY-1
        .desc-block
          p Переносное малогабаритное, надёжное устройство для кислородной терапии, которое удобно использовать во время путешествия всеми видами транспорта и в домашних условиях...
        .count
          .price
            p.old-price 11 500
            p.new-price.pull-bottom 12 830
              span грн
        .button-block
          .buy-buttons
            a Купить в 1 клик
            button купить
    .product-thumb-grid.col-lg-12.col-md-12.col-sm-12.col-xs-12.product-thumb-list
      .block-pro.sticker-shares
        .img-block
          img(src="../img/products/img5.png")
          .likes-star-block
            button ❤
            button
            .rating
              p
                span ★
                span ★
                span ★
                span ★
                span ★
        .title-block
          p Медицинский кислородный концентратор «Медика» JAY-1
        .desc-block
          p Переносное малогабаритное, надёжное устройство для кислородной терапии, которое удобно использовать во время путешествия всеми видами транспорта и в домашних условиях...
        .count
          .price
            p.old-price 11 500
            p.new-price.pull-bottom 12 830
              span грн
        .button-block
          .buy-buttons
            a Купить в 1 клик
            button купить
    .product-thumb-grid.col-lg-12.col-md-12.col-sm-12.col-xs-12.product-thumb-list
      .block-pro.sticker-shares
        .img-block
          img(src="../img/products/img5.png")
          .likes-star-block
            button ❤
            button
            .rating
              p
                span ★
                span ★
                span ★
                span ★
                span ★
        .title-block
          p Медицинский кислородный концентратор «Медика» JAY-1
        .desc-block
          p Переносное малогабаритное, надёжное устройство для кислородной терапии, которое удобно использовать во время путешествия всеми видами транспорта и в домашних условиях...
        .count
          .price
            p.old-price 11 500
            p.new-price.pull-bottom 12 830
              span грн
        .button-block
          .buy-buttons
            a Купить в 1 клик
            button купить
    .product-thumb-grid.col-lg-12.col-md-12.col-sm-12.col-xs-12.product-thumb-list
      .block-pro.sticker-shares
        .img-block
          img(src="../img/products/img5.png")
          .likes-star-block
            button ❤
            button
            .rating
              p
                span ★
                span ★
                span ★
                span ★
                span ★
        .title-block
          p Медицинский кислородный концентратор «Медика» JAY-1
        .desc-block
          p Переносное малогабаритное, надёжное устройство для кислородной терапии, которое удобно использовать во время путешествия всеми видами транспорта и в домашних условиях...
        .count
          .price
            p.old-price 11 500
            p.new-price.pull-bottom 12 830
              span грн
        .button-block
          .buy-buttons
            a Купить в 1 клик
            button купить
    .product-thumb-grid.col-lg-12.col-md-12.col-sm-12.col-xs-12.product-thumb-list
      .block-pro.sticker-shares
        .img-block
          img(src="../img/products/img5.png")
          .likes-star-block
            button ❤
            button
            .rating
              p
                span ★
                span ★
                span ★
                span ★
                span ★
        .title-block
          p Медицинский кислородный концентратор «Медика» JAY-1
        .desc-block
          p Переносное малогабаритное, надёжное устройство для кислородной терапии, которое удобно использовать во время путешествия всеми видами транспорта и в домашних условиях...
        .count
          .price
            p.old-price 11 500
            p.new-price.pull-bottom 12 830
              span грн
        .button-block
          .buy-buttons
            a Купить в 1 клик
            button купить
  .button-str.col-lg-12.col-md-12.col-sm-12.col-xs-12
    .btn-group
      button 1
      button 2
      button.active 3
      button 4
      button 5
      span ...
      button 9