include ../inc/_mixins
#rightcolumn_content_cat.col-lg-9.col-md-9.col-sm-9.col-xs-9
  .icon-list-block.col-lg-1.col-md-1.col-sm-1.col-xs-1
    .icon-list
      img(src="../img/icons/cat/icon-list.png")
    .icon-block
      img(src="../img/icons/cat/icon-block.png")
  .right-column-title.col-lg-7.col-md-7.col-sm-7.col-xs-7
    h3 Кислородные концентраторы
  .sorting.col-lg-4.col-md-4.col-sm-4.col-xs-4
    p Сортировать по:
    select
      option Популярности
      option Цена
      option Новинки
  .category-content-list.col-lg-12.col-md-12.col-sm-12.col-xs-12
    .product-thumb
      .col-md-4.col-sm-4.col-xs-12.col-cat-img
        .sticker-shares акция
        .sticker-hits хит
        .sticker-novelty новинка
        .img-block
          a
            img(src="../img/products/img.png")
        .likes-star-block
          button ❤
          button
          .rating
            p
              span ★
              span ★
              span ★
              span ★
              span ★
      .col-md-6.col-sm-6.col-xs-12.col-cat-desc
        p.product-title Медицинский кислородный концентратор «Медика» JAY-1
        p.product-desc Переносное малогабаритное, надёжное устройство для кислородной терапии, которое удобно использовать во время путешествия всеми видами транспорта и в домашних условиях...
        .product-count
          p 12 830
            span грн
      .col-md-2.col-sm-2.col-xs-12.col-cat-but
        .buy-buttons
          a Купить в 1 клик
          button купить
  .category-content-block.col-lg-12.col-md-12.col-sm-12.col-xs-12
    .product-thumb.col-lg-4.col-md-4.col-sm-6.col-xs-12
      .img-block
        img(src="../img/product/img5.png")
      .likes-star-block
      .desc-block
      .count
      .button-block
  .button-str.col-lg-12.col-md-12.col-sm-12.col-xs-12
    .btn-group
      button 1
      button 2
      button.active 3
      button 4
      button 5
      span ...
      button 9