script(src=jsPath + 'jquery.js')
script(src=jsPath + 'bootstrap.min.js')
script(src=jsPath + 'slick.min.js')
script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
script(src=jsPath + 'main.js')

