include ../inc/_mixins
//статьи и новости
section
   #articles-and-news
      .container
         .row
            .col-lg-12.col-md-12.col-sm-12
               h2 Новости и статьи
            .col-lg-4.col-md-4.col-sm-4
               .artic-news
                  +img('news/1.jpg')(class="center-block img-responsive")
                  .date
                     span 6.10.2016
                  .desc-news
                     p Новейшая Текар T-CaRe (Capacitive Resistive) технология
            .col-lg-4.col-md-4.col-sm-4
               .artic-news
                  +img('news/2.jpg')(class="center-block img-responsive")
                  .date
                     span 16.10.2016
                  .desc-news
                     p Новейшая Текар T-CaRe (Capacitive Resistive) технология
            .col-lg-4.col-md-4.col-sm-4
               .artic-news
                  +img('news/3.jpg')(class="center-block img-responsive")
                  .date
                     span 26.10.2016
                  .desc-news
                     p Новейшая Текар T-CaRe (Capacitive Resistive) технология