include ../inc/_mixins
//Акции новинки хиты
section
	#shares-hits-novelty
		.container
			.row
				.col-lg-12.col-md-12.brd.col-sm-12
					.col-lg-2.col-md-2.col-sm-3
						h4 акции
					.col-lg-2.col-md-2.col-sm-3
						h4 новинки
					.col-lg-2.col-md-2.col-sm-3
						h4 хиты продаж
		.container
			.row
				.slick-bot
					.slick-items
						div.img-slick
							+img('products/img.png')
						div.desc-slick
							h5 Универсальный ирригатор полости рта WP-100E2
							.count
								p 3050
									span грн
							a.btn-slick
								button КУПИТЬ
					.slick-items
						div.img-slick
							+img('products/img2.png')
						div.desc-slick
							h5 Увлажнитель воздуха Boneco 7135
							.count
								p 3050
									span грн
							a.btn-slick
								button КУПИТЬ
					.slick-items
						div.img-slick
							+img('products/img3.png')
						div.desc-slick
							h5 Термометр LONGEVITA MT- 4320
							.count
								p 3050
									span грн
							a.btn-slick
								button КУПИТЬ
					.slick-items
						div.img-slick
							+img('products/img4.png')
						div.desc-slick
							h5 Стетофонендоскоп педиатрический «MD One™ Stainless Steel Dual Head»
							.count
								p 3050
									span грн
							a.btn-slick
								button КУПИТЬ
					.slick-items.sticker-novelty
						div.img-slick
							+img('products/img.png')
						div.desc-slick
							h5 Универсальный ирригатор полости рта WP-100E2
							.count
								p 3050
									span грн
							a.btn-slick
								button КУПИТЬ
					.slick-items
						div.img-slick
							+img('products/img2.png')
						div.desc-slick
							h5 Увлажнитель воздуха Boneco 7135
							.count
								p 3050
									span грн
							a.btn-slick
								button КУПИТЬ
					.slick-items
						div.img-slick
							+img('products/img3.png')
						div.desc-slick
							h5 Термометр LONGEVITA MT- 4320
							.count
								p 3050
									span грн
							a.btn-slick
								button КУПИТЬ
					.slick-items
						div.img-slick
							+img('products/img4.png')
						div.desc-slick
							h5 Стетофонендоскоп педиатрический «MD One™ Stainless Steel Dual Head»
							.count
								p 3050
									span грн
							a.btn-slick
								button КУПИТЬ