include ../inc/_mixins
//Каруселька топ
#slideshow
	.container-fluid
		.row
			.slick-top
				.slick-item
					.container
						h1 Кислородные концентраторы
						h3 по самым низким ценам!
						+img('duichik.png')
				.slick-item
					.container
						h1 Шприц навесной
						h3 не упусти момент!
						+img('duichik.png')
				.slick-item
					.container
						h1 Подушка высыпалка
						h3 ночью спать дешево!
						+img('duichik.png')
				.slick-item
					.container
						h1 Адреналин на развес
						h3 цена как адреналин!
						+img('duichik.png')
				.slick-item
					.container
						h1 Индикатор боли
						h3 самая изкая цена!
						+img('duichik.png')