block content
include elements/_top_document
#slideshow
	.container
		.row
			.slick-top
				.slick-item
					.container
						h1 Кислородные концентраторы
						h3 по самым низким ценам!
						+img('duichik.png')
				.slick-item
					.container
						h1 Шприц навесной
						h3 не упусти момент!
						+img('duichik.png')
				.slick-item
					.container
						h1 Подушка высыпалка
						h3 ночью спать дешево!
						+img('duichik.png')
				.slick-item
					.container
						h1 Адреналин на развес
						h3 цена как адреналин!
						+img('duichik.png')
				.slick-item
					.container
						h1 Индикатор боли
						h3 самая изкая цена!
						+img('duichik.png')
.content
	.container
		.row
			#collumn-left
				.col-lg-3.col-md-3
					div.list-group-item-heading
						a.item-head Тематические разделы
					ul.list-unstyled.list-group
						- var list_gr = ["Ингаляторы (небулайзеры)","Устройства для обеспечения проходимости дыхательных путей","Оборудование для кислородной терапии","Аппараты дыхательные","Медицинская мебель","Светильники и отсасыватели хирургические, медицинские","Предметы ухода за больными","Весы для взвешивания людей, динамометры,  секундомеры","Иглы хирургические","Инструмент для косметологических и парикмахерских салонов","Хирургический инструмент, шприцы, иглы иньекционные","Лампы и облучатели бактерицидные","Лотки","Оборудование для иммобилизации","Разное оборудование","Физиотерапия","Ветеринария","Кипятильники , биксы , стерилизаторы","Лабораторное оборудование","Запасные части"];
							for name in list_gr
								li
									a.list-item= name
			#content
				#advantages.col-lg-8.col-lg-offset-1.col-md-9
					.col-lg-3.col-md-3.desc-item
						+img('icons/features/time1.svg')
						.desc
							p Более 20 лет на украинском рынке
					.col-lg-3.col-md-3.desc-item
						+img('icons/features/delivery.svg')
						.desc
							p Быстрая доставка по всей Украине
					.col-lg-3.col-md-3.desc-item
						+img('icons/features/money.svg')
						.desc
							p Лучшие цены, акции и скидки
					.col-lg-3.col-md-3.desc-item
						+img('icons/features/guarantee.svg')
						.desc
							p Гарании качеста
				#popular-categories.col-lg-8.col-lg-offset-1.col-md-9
					.popular-head
						h3 Популярные категории
					.col-lg-3.col-md-3.desc-item
						a
							+img('1.jpg')
							.desc
								p Тонометры
					.col-lg-3.col-md-3.desc-item
						a
							+img('2.jpg')
							.desc
								p Небулайзеры (Ингаляторы)
					.col-lg-3.col-md-3.desc-item
						a
							+img('3.jpg')
							.desc
								p Весы
					.col-lg-3.col-md-3.desc-item
						a
							+img('4.jpg')
							.desc
								p Ирригаторы и аксессуары
					.col-lg-3.col-md-3.desc-item
						a
							+img('5.jpg')
							.desc
								p Бандажи и корсеты
					.col-lg-3.col-md-3.desc-item
						a
							+img('6.jpg')
							.desc
								p Глюкометры и расходные материалы
					.col-lg-3.col-md-3.desc-item
						a
							+img('7.jpg')
							.desc
								p Массажеры для ног и тела
					.col-lg-3.col-md-3.desc-item
						a
							+img('8.jpg')
							.desc
								p Очистители воздуха
section.callback
	#callback
		.container
			.row
				h3 Трудности с выбором товара?
				h5 Закажите в один клик обратный звонок у нашего специалиста!
				.col-lg-9.form-callback-big
					form
						input(placeholder="Ваше имя")
						input(placeholder="Контактный номер")
						button ПЕРЕЗВОНИТЬ
				#img.col-lg-3.pull-right
					+img('callback.png')
section
	#shares-hits-novelty
		.container
			.row
				.col-lg-12.brd
					.col-lg-2
						h4 акции
					.col-lg-2
						h4 новинки
					.col-lg-2
						h4 хиты продаж
		.container
			.row
				.slick-bot
					.slick-items
						.sticker-shares акция
						.sticker-hits хит
						.sticker-novelty новинка
						div.img-slick
							+img('products/img.png')
						div.desc-slick
							h5 Универсальный ирригатор полости рта WP-100E2
							.count
								p 3050
									span грн
							a.btn-slick
								button КУПИТЬ
					.slick-items
						.sticker-shares акция
						.sticker-hits хит
						.sticker-novelty новинка
						div.img-slick
							+img('products/img2.png')
						div.desc-slick
							h5 Увлажнитель воздуха Boneco 7135
							.count
								p 3050
									span грн
							a.btn-slick
								button КУПИТЬ
					.slick-items
						.sticker-shares акция
						.sticker-hits хит
						.sticker-novelty новинка
						div.img-slick
							+img('products/img3.png')
						div.desc-slick
							h5 Термометр LONGEVITA MT- 4320
							.count
								p 3050
									span грн
							a.btn-slick
								button КУПИТЬ
					.slick-items
						.sticker-shares акция
						.sticker-hits хит
						.sticker-novelty новинка
						div.img-slick
							+img('products/img4.png')
						div.desc-slick
							h5 Стетофонендоскоп педиатрический «MD One™ Stainless Steel Dual Head»
							.count
								p 3050
									span грн
							a.btn-slick
								button КУПИТЬ
					.slick-items
						div.img-slick
							+img('products/img.png')
						div.desc-slick
							h5 Универсальный ирригатор полости рта WP-100E2
							.count
								p 3050
									span грн
							a.btn-slick
								button КУПИТЬ
					.slick-items
						div.img-slick
							+img('products/img2.png')
						div.desc-slick
							h5 Увлажнитель воздуха Boneco 7135
							.count
								p 3050
									span грн
							a.btn-slick
								button КУПИТЬ
					.slick-items
						div.img-slick
							+img('products/img3.png')
						div.desc-slick
							h5 Термометр LONGEVITA MT- 4320
							.count
								p 3050
									span грн
							a.btn-slick
								button КУПИТЬ
					.slick-items
						div.img-slick
							+img('products/img4.png')
						div.desc-slick
							h5 Стетофонендоскоп педиатрический «MD One™ Stainless Steel Dual Head»
							.count
								p 3050
									span грн
							a.btn-slick
								button КУПИТЬ
section
	#articles-and-news
		.container
			.row
				.col-lg-12
					h2 Новости и статьи
				.col-lg-4
					.artic-news
						+img('news/1.jpg')
						.date
							span 6.10.2016
						.desc-news
							p Новейшая Текар T-CaRe (Capacitive Resistive) технология
				.col-lg-4
					.artic-news
						+img('news/2.jpg')
						.date
							span 16.10.2016
						.desc-news
							p Новейшая Текар T-CaRe (Capacitive Resistive) технология
				.col-lg-4
					.artic-news
						+img('news/3.jpg')
						.date
							span 26.10.2016
						.desc-news
							p Новейшая Текар T-CaRe (Capacitive Resistive) технология
section
	#wellcome
		.container
			.row
				.col-lg-6
					h4 ДОБРО ПОЖАЛОВАТЬ В Medika
					p Здоровье - залог успеха в нашей жизни. При небольших признаках болезни или даже малейших проблемах со здоровьем, необходимо сделать качественную диагностику и выяснить первопричину или источник всех проблем, чтобы лечение прошло как можно быстрее и эффективнее. Для реализации всех диагностических процедур необходим высококачественный медицинский инструментарий, медтехника и оборудование. Сейчас медицинское оборудование купить в Украине несложно, но каждый покупатель стремится найти товар по выгодной цене и с хорошим качеством. Во многих случаях именно качество, цена, надежность и узнаваемость бренда влияет на окончательный выбор покупателя.
					p.center Качественное медицинское оборудование от компании «Медика» Киев
					p Компания «Медика» - надёжный и проверенный поставщик качественного медицинского оборудования и медтехники на рынке Украины. Она уже более 20 лет успешно работает с различными больницами, клиниками, санаториями и другими медицинскими учреждениями. В магазине можно купить: лабораторное, хирургическое, кардиологическое, стоматологическое и офтальмологическое .... &nbsp;
						a Читать далее
				.col-lg-6
					+img('news/4.png')
include elements/_bottom_document
