block content
include elements/_top_document
//include elements/_slideshow_top
//include elements/_content
	//include elements/_breakcrumb
	//include elements/_leftcolumn_cat
	//include elements/_rightcolumn_content_catt
	//include elements/_column_left
	//include elements/_advantages
	//include elements/_popular-categories
	//include elements/_contacts
	//include elements/_payment
include elements/_private
//include elements/_section_callback
//include elements/_section_shares-hits-novelty
include elements/_section_articles-and-news
//include elements/_section_wellcome
include elements/_bottom_document
